<mat-dialog-content class="mat-typography">
  <div class="dialog">
    <div class="img-dialog-product">
      <img class="img-product" src="http://localhost:1235/sp1.jpg" alt="">
    </div>
    <div class="info-dialog-product">
      <p class="product-name">Nike air force 1</p>
      <p class="product-descript">Kiểu dáng: Giày thể thao
        Giới tính: Unisex
        Màu sắc: Trắng
        Chất liệu: Da cao cấp</p>
      <p class="brand">Brand: Nike</p>
      <p class="brand">Size: 43</p>
      <p class="price">Price: 4000000<span>VND</span></p>
      <span class="">
        <span class="text-base">Số lượng:</span>
        <span class="add-quantity">
          <button class="btn-change-quantity minus">-</button>
          <span class="display-quantity num">0</span>
          <button class="btn-change-quantity plus">+</button>
        </span>
      </span>
      <div class="flex mt-8">
        <button class="add-in-quantity ">Thêm vào giỏ hàng</button>
      </div>
    </div>
  </div>
  <button class="closeDialog" (click)="closeDialog()"><i class="fa-solid fa-xmark"></i></button>
</mat-dialog-content>

