/*Animation*/
*{
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
  transition: 0.4s;
}
@keyframes up {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
@keyframes fall {
  from{
    transform: translateY(-50px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes circle {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1.2)
  }
}
.icon-sidebar{
  @apply text-3xl;
  color: #2d3436;
  &:hover{
    opacity: 0.5;
  };
}
@keyframes letright {
  from{
    transform: translateX(-10px);
    opacity: 0;
  }
  to{
    transform: translateX(30px);
    opacity: 1;

  }
}
.page-layout{
  .header{
    @apply px-8 text-white flex flex-row justify-between items-center;
    background-color: black;
    border-radius-: 4px;
    .group-logo{
      @apply flex flex-row justify-between items-center cursor-pointer;
      .logo{
        @apply h-20 w-20 rounded-full ;
      }
      .text-logo{
        @apply text-xl;
      }
      .qr-code{
        @apply w-12 h-12;
        z-index: 1;
        &:hover{
          width: 200px;
          height: 200px;
          top: 50px;
        }
      }
    }
    .group-search{
      @apply flex flex-row justify-center items-center;
      width: 45%;
      /*@apply h-1/2 bg-white text-sm w-2/5 px-3 py-1 rounded-2xl;*/
      .ip-search{
        @apply text-base w-full px-5 py-2 text-black bg-white;
        border-radius: 4px;
        outline: none;
      }
      .icon-search{
        @apply text-xl;
        transform: translateX(-62px);
        background-color: black;
        padding: 4px 18px;
        border-radius: 4px;
        color: white;
        &:hover{
          color: black;
          cursor: pointer;
          background-color: white;
          border: 1px solid black;
        }
      }
    }
    .group-user{
      @apply text-base flex flex-row justify-between items-center;
      .item{
        @apply mx-2 cursor-pointer;
        &:hover{
          border-bottom: 1px solid white;
        }
        .icon{
          padding: 8px;
          border-radius: 40px;
          &:hover{
            @apply text-black bg-white
          }
        }
      }
    }
  }
  .body{
    .space-payment{
      @apply grid grid-cols-2 gap-5;
      margin: auto;
      padding: 12px 10%;
      height: 500px;
      .content-left{
        @apply p-5;
        border-radius: 12px;
        border: 2px dashed gray;
        .inside-content-left{
          .title-content-letft{
            @apply text-3xl text-center;
            color: #636e72;
          }
          .form-info-tranfer{
            @apply mt-8 px-8;
            .select-element{
              @apply w-full text-lg px-5 my-3 py-2;
              color: #636e72;
              border: 1px dashed black;
              border-radius: 4px;
            }
          }
        }
      }
      .content-right{
        @apply p-5;
        .inside-content-right{
          .title-content-right{
            @apply text-3xl font-thin text-center;
            color: #636e72;
          }
          .over-view{
            .detail-order{
              @apply my-5 px-3 flex flex-row justify-between items-center;
              position: relative;
              .img-detail-order{
                width: 60px;
                height: 60px;
                border-radius: 4px;
                border: 1px dashed rgba(171, 174, 175, 0.65);
              }
              .name-product-detail-order{
                @apply text-xl;
                color: #636e72;
              }
              .price-product-detail-order{
                @apply text-xl;
                color: #636e72;
              }
            }
            .quantity-product-order{
              padding: 0px 7px;
              background-color: cornflowerblue;
              border: 1px solid black;
              border-radius: 100%;
              color: white;
              font-size: 12px;
              position: absolute;
              top: -10px;
              left: 10%;
            }
          }
          .total-payment{
            padding: 12px;
            float: right;
            font-size: 20px;
            border-top: 1px dashed #636e72;
            .total-money{
              color: #ff7675;
            }
          }
          .group-btn{
            @apply w-full flex flex-row justify-between items-center mt-5 px-5;
            .btn{
              @apply text-lg px-5 py-2 rounded-full;
            }
            .btn-continue-shop{
              background-color: #636e72;
              color: white;
              &:hover{
                color: #636e72;
                background-color: white;
              }
            }
            .btn-order{
              background-color: #ff7675;
              color: white;
              &:hover{
                color: #ff7675;
                background-color: white;
              }
            }
          }
        }
      }
    }
  }
  .footer{
    @apply text-white p-5;
    background-color: #2d3436;
    .content-footer {
      @apply gap-5;
      .information{
        @apply grid grid-cols-3 gap-5 px-8;
        .item-info{
          @apply text-xl py-3 flex flex-col justify-center items-center;
          .icon{
            @apply text-5xl my-8;
            color: #ff7675;
          }
          .location-i{
            position: relative;
            .icon{
              @apply text-5xl my-8;
              color: #ff7675;
            }
            ::after{
              content: "";
              display: block;
              width: 50px;
              height: 30px;
              border-radius: 50%;
              border: 4px solid #ff7675;
              position: absolute;
              top: 60%;
              left: -18%;
              transform: translate(-50%, 20%);
              animation: circle 1s infinite linear;
            }
          }

        }
      }
    }
    .line{
      @apply mb-3;
      height: 1px;
      width: 100%;
      background-color: white;
    }
    .contact{
      @apply flex flex-row justify-between items-center;
      .social{
        display: flex;
        flex-direction: row;
        justify-content: end;
        .item-social{
          @apply text-2xl text-white mx-1 px-4 py-3 rounded-full cursor-pointer;
          display: inline-block ;
          &:hover{
            color: #2d3436;
            background-color: white;
          }
        }
      }
    }
  }
}
