<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

<div class="page-layout">
  <div class="header">
    <div class="group-logo">
      <img class="qr-code" src="http://localhost:1235/QR.png" alt="">
      <img src="http://localhost:1235/logoshop.jpg" alt="" class="logo">
      <span class="text-logo">ShoeStore</span>
    </div>
    <div class="group-search">
      <input type="text" class="ip-search" placeholder="Tìm kiếm ... ">
      <i class="icon-search fa-solid fa-magnifying-glass"></i>
    </div>
    <ul class="group-user">
      <li class="item"><a href="home">Trang chủ</a></li>
      <li class="item"><a href="shop">Cửa hàng</a></li>
      <li class="item"><a href="introduce">Giới thiệu</a></li>
      <li class="item"><a href="cart"><i class="icon fa-solid fa-cart-shopping"></i></a></li>
      <li class="item"><i class="icon fa-solid fa-user"></i></li>
    </ul>
  </div>
  <div class="body">
    <div class="space-payment">
      <div class="content-left">
        <div class="inside-content-left">
          <p class="title-content-letft">Thông tin nhận hàng</p>
          <form class="form-info-tranfer" name="forminfo">
            <input [autofocus]="true" [required] name="infoRecipient" class="select-element infoRecipient" type="text" placeholder="Người nhận...">
            <input required name="phoneNumber" class="select-element phoneNumber" type="text" placeholder="Số điện thoại...">
            <select class="select-info-city select-element" name="city" id="city" (change)="GetDistrict($event)">
              <option [defaultSelected]="true" >--Chọn thành phố--</option>
              <option value="{{city.code}}" *ngFor="let city of citys">{{city.name}}</option>
            </select>
            <select class="select-info-district select-element" name="district" id="district" (change)="GetWard($event)">
              <option [defaultSelected]="true" value="">--Chọn quận--</option>
              <option *ngFor="let x of quans?.districts" value="{{x?.code}}">{{x?.name}}</option>
            </select>
            <select class="select-info-city select-element" name="ward" id="ward" (change)="GetInfoWard($event)">
              <option value="">--Chọn xã--</option>
              <option *ngFor="let ward of wards?.wards" value="{{ward?.code}}">{{ward?.name}}</option>
            </select>
          </form>
        </div>
      </div>
      <div class="content-right">
        <div class="inside-content-right">
          <p class="title-content-right">Đơn hàng của bạn</p>
          <div class="over-view">
            <div class="detail-order" *ngFor="let order of ListOrder">
              <img class="img-detail-order" src="{{order.imageURL}}" alt="">
              <span class="name-product-detail-order">{{order.name}}</span>
              <span class="price-product-detail-order">{{order.displayTotalMoneyOrder}}</span>
              <span class="quantity-product-order">{{order.quantityOrder}}</span>
            </div>
          </div>
          <div class="total-payment">
            <span class="mr-8">Tổng cộng: </span>
            <span class="total-money">{{displayTotalBill}}</span>
          </div>
          <div class="group-btn">
            <button class="btn btn-continue-shop"><a href="shop">Tiếp tục mua sắm</a></button>
            <button class="btn btn-order" (click)="Book()">Đặt hàng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="content-footer">
      <ul class="information">
        <li class="item-info"><div class="location-i"><i class="icon fa-solid fa-location-dot"></i></div><p>Phan Dang Luu, Kien An, Hai Phong</p></li>
        <li class="item-info"><i class="icon fa-solid fa-phone"></i><p>0334455667</p></li>
        <li class="item-info"><i class="icon fa-solid fa-envelope"></i><p>shoestorepdl@gmail.com</p></li>
      </ul>
    </div>
    <div class="line"></div>
    <div class="contact">
      <span class="license">© 2022 ShoeStore. Tất cả các quyền được bảo lưu.</span>
      <ul class="social">
        <li class="item-social"><i class="text-blue-400 fa-brands fa-facebook"></i></li>
        <li class="item-social"><i class="text-red-400 fa-brands fa-instagram"></i></li>
        <li class="item-social"><i class="fa-solid fa-envelope"></i></li>
        <li class="item-social"><i class="text-blue-500 fa-brands fa-linkedin-in"></i></li>
      </ul>
    </div>
  </div>
</div>
