<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
<div class="page-layout">
  <div class="header">
    <div class="group-logo">
      <img class="qr-code" src="http://localhost:1235/QR.png" alt="">
      <img src="http://localhost:1235/logoshop.jpg" alt="" class="logo">
      <span class="text-logo">ShoeStore</span>

    </div>
    <div class="group-search">
      <input type="text" class="ip-search" placeholder="Tìm kiếm ... ">
      <i class="icon-search fa-solid fa-magnifying-glass"></i>
    </div>
    <ul class="group-user">
      <li class="item"><a href="home">Trang chủ</a></li>
      <li class="item"><a href="shop">Cửa hàng</a></li>
      <li class="item"><a href="introduce">Giới thiệu</a></li>
      <li class="item"><i class="icon fa-solid fa-cart-shopping"></i></li>
      <li class="item"><i class="icon fa-solid fa-user"></i></li>
    </ul>
  </div>
  <div class="body">
    <div class="slider-show">
      <div class="slides">
        <input class="ip-radio" type="radio" name="r" id="r1" checked>
        <input class="ip-radio" type="radio" name="r" id="r2" >
        <input class="ip-radio" type="radio" name="r" id="r3" >
        <input class="ip-radio" type="radio" name="r" id="r4" >
        <div class="group-slide">
          <div class="slide s1">
            <img src="http://localhost:1235/banner3.jpg" alt="">
          </div>
          <div class="slide s2">
            <img src="http://localhost:1235/banner2.jpg" alt="">
          </div>
          <div class="slide s3">
            <img src="http://localhost:1235/banner4.jpg" alt="">
          </div>
          <div class="slide s4">
            <img src="https://wallpaper.dog/large/20471101.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
      </div>
    </div>
    <div class="section-brand">
      <div class="section section-1">
        <div class="brand bran1">
          <img src="https://bizweb.dktcdn.net/100/342/645/themes/701397/assets/banner_project_1.jpg?1664094665337" alt="">
          <span class="title-brand">Giày Nike</span>
        </div>
        <div class="brand bran2">
          <img src="https://bizweb.dktcdn.net/100/342/645/themes/701397/assets/banner_project_2.jpg?1664094665337" alt="">
          <span class="title-brand">Giày Yzee</span>
        </div>
      </div>
      <div class="section section-2">
        <div class="brand brand3">
          <img src="https://bizweb.dktcdn.net/100/342/645/themes/701397/assets/banner_project_3.jpg?1664094665337" alt="">
          <span class="title-brand">Giày Vans</span>
        </div>
        <div class="brand brand4">
          <img src="https://bizweb.dktcdn.net/100/342/645/themes/701397/assets/banner_project_4.jpg?1664094665337" alt="">
          <span class="title-brand">Dép bánh mì</span>
        </div>
        <div class="brand brand5">
          <img src="https://bizweb.dktcdn.net/100/342/645/themes/701397/assets/banner_project_5.jpg?1664094665337" alt="">
          <span class="title-brand">Dép Xandal</span>
        </div>
      </div>
    </div>
    <div class="space-product">
      <div class="title-content">
        <div class="text-head">
          <p class="text-top">SẢN PHẨM NỔI BẬT</p>
          <p class="text-bottom">Một số sản phẩm của shop</p>
        </div>
        <a href="shop"><p class="let-store cursor-pointer">Đến cửa hàng <i class="arrow ml-2 fa-solid fa-arrow-right"></i></p></a>
      </div>
      <div class="products">
        <div class="product">
          <div class="frame-img">
            <img class="img-product" src="http://localhost:1235/sp3.jpg" alt="sp1">
          </div>
          <div class="description">
            <span class="title-product">Nike Air Force 1</span>
            <span class="size"> <span>Size : </span>43</span>
            <span class="price">4000000<span>.VND</span></span>
          </div>
        </div>
        <div class="product">
          <div class="frame-img">
            <img class="img-product" src="http://localhost:1235/sp3.jpg" alt="sp1">
          </div>
          <div class="description">
            <span class="title-product">Nike Air Force 1</span>
            <span class="size"> <span>Size : </span>43</span>
            <span class="price">4000000<span>.VND</span></span>
          </div>
        </div>
        <div class="product">
          <div class="frame-img">
            <img class="img-product" src="http://localhost:1235/sp3.jpg" alt="sp1">
          </div>
          <div class="description">
            <span class="title-product">Nike Air Force 1</span>
            <span class="size"> <span>Size : </span>43</span>
            <span class="price">4000000<span>.VND</span></span>
          </div>
        </div>
        <div class="product">
          <div class="frame-img">
            <img class="img-product" src="http://localhost:1235/sp3.jpg" alt="sp1">
          </div>
          <div class="description">
            <span class="title-product">Nike Air Force 1</span>
            <span class="size"> <span>Size : </span>43</span>
            <span class="price">4000000<span>.VND</span></span>
          </div>
        </div>
      </div>

    </div>
    <div class="banner-section-1">
      <div class="head-banner">
        <img src="http://localhost:1235/banner_product_nangdong.jpg" alt="">
        <div class="descript">
          <span class="banner-title">SNEAKER NĂNG ĐỘNG</span>
          <p class="descript-text">Sneaker đã trở thành một biểu tượng của xã hội, là một sản phẩm của thời đại với những thiết kế cổ điển và những điều đó đều nằm trong những đôi giày Sneaker Delta Shoes. Không lỗi thời với thời gian, mang dấu ấn cá tính khác biệt và tạo mọi sự lôi cuốn từ chính đôi giày Sneaker. Tự tạo cuộc chơi, tự tạo phong cách, đó là Delta Shoes</p>
          <a href="shop" class="lk-shop">XEM TẤT CẢ <i class="fa-solid fa-chevron-right"></i></a>
        </div>
      </div>
      <div class="content-banner">
        <div class="products-banner">
          <div class="product-banner">
            <div class="about-product">
              <img src="http://localhost:1235/sp2.jpg" alt="">
            </div>
            <div class="detail-product">
              <p class="title-product">Nike Air Force 1</p>
              <div class="detail">
                <span class="price">200000<i class="fa-solid fa-dong-sign"></i></span>
                <i class="fa-solid fa-circle-info detail-i"></i>
              </div>
            </div>
          </div>
          <div class="product-banner">
            <div class="about-product">
              <img src="http://localhost:1235/sp2.jpg" alt="">
            </div>
            <div class="detail-product">
              <p class="title-product">Nike Air Force 1</p>
              <div class="detail">
                <span class="price">200000<i class="fa-solid fa-dong-sign"></i></span>
                <i class="fa-solid fa-circle-info detail-i"></i>
              </div>
            </div>
          </div>
          <div class="product-banner">
            <div class="about-product">
              <img src="http://localhost:1235/sp2.jpg" alt="">
            </div>
            <div class="detail-product">
              <p class="title-product">Nike Air Force 1</p>
              <div class="detail">
                <span class="price">200000<i class="fa-solid fa-dong-sign"></i></span>
                <i class="fa-solid fa-circle-info detail-i"></i>
              </div>
            </div>
          </div>
          <div class="product-banner">
            <div class="about-product">
              <img src="http://localhost:1235/sp2.jpg" alt="">
            </div>
            <div class="detail-product">
              <p class="title-product">Nike Air Force 1</p>
              <div class="detail">
                <span class="price">200000<i class="fa-solid fa-dong-sign"></i></span>
                <i class="fa-solid fa-circle-info detail-i"></i>
              </div>
            </div>
          </div>
          <div class="product-banner">
            <div class="about-product">
              <img src="http://localhost:1235/sp2.jpg" alt="">
            </div>
            <div class="detail-product">
              <p class="title-product">Nike Air Force 1</p>
              <div class="detail">
                <span class="price">200000<i class="fa-solid fa-dong-sign"></i></span>
                <i class="fa-solid fa-circle-info detail-i"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="cicle-animation">
      <div class="circle one"></div>
      <div class="circle two"></div>
      <div class="circle three"></div>
    </div>
    <div class="banner-section-2">
      <div class="head-banner">
        <div class="descript">
          <span class="banner-title">SLIP-ON THANH LỊCH</span>
          <p class="descript-text">Ra đời từ thế kỉ XX, từ sự tiện dụng cho đến biểu tượng của phong cách casual. Giày lười Delta Shoes là một trong những đại diện của sự chững chạc trong thời trang, là xu hướng của thế giới thời trang tối giản. Đồng hành cùng Delta Shoes là đồng hành với chuẩn mực của chính bạn.</p>
          <a href="shop" class="lk-shop">XEM TẤT CẢ <i class="fa-solid fa-chevron-right"></i></a>
        </div>
        <img src="http://localhost:1235/banner_product_thanhlich.jpg" alt="">
      </div>
      <div class="content-banner">
        <div class="products-banner">
          <div class="product-banner">
            <div class="about-product">
              <img src="http://localhost:1235/sp2.jpg" alt="">
            </div>
            <div class="detail-product">
              <p class="title-product">Nike Air Force 1</p>
              <div class="detail">
                <span class="price">200000<i class="fa-solid fa-dong-sign"></i></span>
                <i class="fa-solid fa-circle-info detail-i"></i>
              </div>
            </div>
          </div>
          <div class="product-banner">
            <div class="about-product">
              <img src="http://localhost:1235/sp2.jpg" alt="">
            </div>
            <div class="detail-product">
              <p class="title-product">Nike Air Force 1</p>
              <div class="detail">
                <span class="price">200000<i class="fa-solid fa-dong-sign"></i></span>
                <i class="fa-solid fa-circle-info detail-i"></i>
              </div>
            </div>
          </div>
          <div class="product-banner">
            <div class="about-product">
              <img src="http://localhost:1235/sp2.jpg" alt="">
            </div>
            <div class="detail-product">
              <p class="title-product">Nike Air Force 1</p>
              <div class="detail">
                <span class="price">200000<i class="fa-solid fa-dong-sign"></i></span>
                <i class="fa-solid fa-circle-info detail-i"></i>
              </div>
            </div>
          </div>
          <div class="product-banner">
            <div class="about-product">
              <img src="http://localhost:1235/sp2.jpg" alt="">
            </div>
            <div class="detail-product">
              <p class="title-product">Nike Air Force 1</p>
              <div class="detail">
                <span class="price">200000<i class="fa-solid fa-dong-sign"></i></span>
                <i class="fa-solid fa-circle-info detail-i"></i>
              </div>
            </div>
          </div>
          <div class="product-banner">
            <div class="about-product">
              <img src="http://localhost:1235/sp2.jpg" alt="">
            </div>
            <div class="detail-product">
              <p class="title-product">Nike Air Force 1</p>
              <div class="detail">
                <span class="price">200000<i class="fa-solid fa-dong-sign"></i></span>
                <i class="fa-solid fa-circle-info detail-i"></i>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class=""></div>
  </div>
  <div class="footer">
    <div class="content-footer">
      <ul class="information">
        <li class="item-info"><div class="location-i"><i class="icon fa-solid fa-location-dot"></i></div><p>Phan Dang Luu, Kien An, Hai Phong</p></li>
        <li class="item-info"><i class="icon fa-solid fa-phone"></i><p>0334455667</p></li>
        <li class="item-info"><i class="icon fa-solid fa-envelope"></i><p>shoestorepdl@gmail.com</p></li>
      </ul>
    </div>
    <div class="line"></div>
    <div class="contact">
      <span class="license">© 2022 ShoeStore. Tất cả các quyền được bảo lưu.</span>
      <ul class="social">
        <li class="item-social"><i class="text-blue-400 fa-brands fa-facebook"></i></li>
        <li class="item-social"><i class="text-red-400 fa-brands fa-instagram"></i></li>
        <li class="item-social"><i class="fa-solid fa-envelope"></i></li>
        <li class="item-social"><i class="text-blue-500 fa-brands fa-linkedin-in"></i></li>
      </ul>
    </div>
  </div>
</div>
