/*Animation*/
*{
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
  transition: 0.4s;
}
.hidden{
  display:none;
}
.appear{
  display: block;
}
@keyframes up {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
@keyframes fall {
  from{
    transform: translateY(-50px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes circle {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1.2)
  }
}
.icon-sidebar{
  @apply text-3xl;
  color: #2d3436;
  position: relative;
  &:hover{
    opacity: 0.5;
  }
  /*&::after{
    position: absolute;
   display: block;
    width: 4px;
    height: 100%;
    content: " ";
    background-color: black;
    top: 0;
    left: -20px;
  }*/
}

.icon-arrow{
  @apply text-3xl;
  color: #2d3436;
  position: absolute;
  left: 32px;
  top: 32px;
  &:hover{
    opacity: 0.5;
  }
}

@keyframes letright {
  from{
    transform: translateX(-10px);
    opacity: 0;
  }
  to{
    transform: translateX(30px);
    opacity: 1;

  }
}
.page-layout{
  .header{
    @apply px-8 text-white flex flex-row justify-between items-center;
    background-color: black;
    border-radius-: 4px;
    .group-logo{
      @apply flex flex-row justify-between items-center cursor-pointer;
      .logo{
        @apply h-20 w-20 rounded-full ;
      }
      .text-logo{
        @apply text-xl;
      }
      .qr-code{
        @apply w-12 h-12;
        z-index: 1;
        &:hover{
          width: 200px;
          height: 200px;
          top: 50px;
        }
      }
    }
    .group-search{
      @apply flex flex-row justify-center items-center;
      width: 45%;
      /*@apply h-1/2 bg-white text-sm w-2/5 px-3 py-1 rounded-2xl;*/
      .ip-search{
        @apply text-base w-full px-5 py-2 text-black bg-white;
        border-radius: 4px;
        outline: none;
      }
      .icon-search{
        @apply text-xl;
        transform: translateX(-62px);
        background-color: black;
        padding: 4px 18px;
        border-radius: 4px;
        color: white;
        &:hover{
          color: black;
          cursor: pointer;
          background-color: white;
          border: 1px solid black;
        }
      }
    }
    .group-user{
      @apply text-base flex flex-row justify-between items-center;
      .item{
        @apply mx-2 cursor-pointer;
        &:hover{
          border-bottom: 1px solid white;
        }
        .icon{
          padding: 8px;
          border-radius: 40px;
          &:hover{
            @apply text-black bg-white
          }
        }
      }
    }
  }
  .body{
    .shop-space-product{
      @apply h-full;
      .sidenav{
        @apply h-full;
        .sidenav-left{
          @apply h-full w-1/5 p-5;
          background-color: #2d3436;
          .inside-sidenav-left{
            @apply p-5 h-full;
            border-radius: 12px;
            background-color: white;
            .p-header{
              @apply text-3xl;
              color: #2d3436;
              text-align: center;
            }
            .menu-category{
              @apply mt-8 w-full h-3/5 text-lg;
              color: #2d3436;
              .item-menu{
                @apply my-4 px-3;
                &:hover{
                  color: #2d3436;
                  cursor: pointer;
                }

                .hidden-section{
                  display: none;
                  .hidden-section-menu{
                    .hiddensection-item{
                      &:hover{
                        color: #ff7675;
                        opacity: 0.6;
                        padding: 4px 4px;
                      }
                    }
                  }
                }
              }
              .item-menu:hover .hidden-section{
                display: block;
              }
            }
          }
        }
        .sidenav-right{
          @apply h-full p-5;
          background-color: #2d3436;
          .inside-sidenav-right{
            @apply h-full p-5 bg-white;
            border-radius: 12px;
            .header-space-all-product{
              @apply flex flex-row justify-between items-center;
              .title-space-product{
                @apply text-lg;
              }
            }
            .space-display-product{
              @apply grid grid-cols-4 gap-5 mt-8 px-4;
              .product{
                border-radius: 8px;
                overflow: hidden;
                cursor: pointer;
                position: relative;
                .img-product{
                }
                .info-product{
                  @apply text-white px-4 py-2;
                  background-color: #2d3436;
                }
                .btn-add-product{

                }
                .model-btn{
                  @apply w-full h-full flex flex-row justify-evenly items-center;
                  position: absolute;
                  transition: 0.5s;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%,-50%);
                  background-color: rgba(169, 171, 171, 0.53);
                  display: none;
                  .btn-add-product{
                    @apply px-4 py-3 rounded-full text-xl text-white;
                    background-color: #ff7675;
                  }
                  .btn-watch-detail{
                    @apply px-4 py-3 rounded-full text-xl text-white;
                    background-color: #2d3436;
                  }
                }
              }
              .product:hover .model-btn{
                display: flex;
                transition: 0.5s;
              }

            }
          }
        }
      }
    }
  }
  .footer{
    @apply text-white p-5;
    background-color: #2d3436;
    .content-footer {
      @apply gap-5;
      .information{
        @apply grid grid-cols-3 gap-5 px-8;
        .item-info{
          @apply text-xl py-3 flex flex-col justify-center items-center;
          .icon{
            @apply text-5xl my-8;
            color: #ff7675;
          }
          .location-i{
            position: relative;
            .icon{
              @apply text-5xl my-8;
              color: #ff7675;
            }
            ::after{
              content: "";
              display: block;
              width: 50px;
              height: 30px;
              border-radius: 50%;
              border: 4px solid #ff7675;
              position: absolute;
              top: 60%;
              left: -18%;
              transform: translate(-50%, 20%);
              animation: circle 1s infinite linear;
            }
          }

        }
      }
    }
    .line{
      @apply mb-3;
      height: 1px;
      width: 100%;
      background-color: white;
    }
    .contact{
      @apply flex flex-row justify-between items-center;
      .social{
        display: flex;
        flex-direction: row;
        justify-content: end;
        .item-social{
          @apply text-2xl text-white mx-1 px-4 py-3 rounded-full cursor-pointer;
          display: inline-block ;
          &:hover{
            color: #2d3436;
            background-color: white;
          }
        }
      }
    }
  }
}
