<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

<div class="page-layout">
  <div class="header">
    <div class="group-logo">
      <img class="qr-code" src="http://localhost:1235/QR.png" alt="">
      <img src="http://localhost:1235/logoshop.jpg" alt="" class="logo">
      <span class="text-logo">ShoeStore</span>

    </div>
    <div class="group-search">
      <input type="text" class="ip-search" placeholder="Tìm kiếm ... ">
      <i class="icon-search fa-solid fa-magnifying-glass"></i>
    </div>
    <ul class="group-user">
      <li class="item"><a href="home">Trang chủ</a></li>
      <li class="item"><a href="shop">Cửa hàng</a></li>
      <li class="item"><a href="introduce">Giới thiệu</a></li>
      <li class="item"><i class="icon fa-solid fa-cart-shopping"></i></li>
      <li class="item"><i class="icon fa-solid fa-user"></i></li>
    </ul>
  </div>
  <div class="body">
    <div class="slider-show">
      <div class="slides">
        <input class="ip-radio" type="radio" name="r" id="r1" checked>
        <input class="ip-radio" type="radio" name="r" id="r2" >
        <input class="ip-radio" type="radio" name="r" id="r3" >
        <input class="ip-radio" type="radio" name="r" id="r4" >
        <div class="group-slide">
          <div class="slide s1">
            <img src="http://localhost:1235/banner3.jpg" alt="">
          </div>
          <div class="slide s2">
            <img src="http://localhost:1235/banner2.jpg" alt="">
          </div>
          <div class="slide s3">
            <img src="http://localhost:1235/banner4.jpg" alt="">
          </div>
          <div class="slide s4">
            <img src="https://wallpaper.dog/large/20471101.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
      </div>
    </div>
    <div class="space-product">
      <div class="title-content">
        <p class="">Sản phẩm nổi bật</p>
        <div class="wall"></div>
        <a href="shop"><p class="let-store cursor-pointer">Đến cửa hàng <i class="arrow ml-2 fa-solid fa-arrow-right"></i></p></a>
      </div>
      <div class="products">
        <div class="product">
          <img class="img-product" src="http://localhost:1235/sp3.jpg" alt="sp1">
          <div class="description">
            <span class="title-product">Nike Air Force 1</span>
            <span class="size"> <span>Size : </span>43</span>
            <span class="price">4000000<span>.VND</span></span>
          </div>
        </div>
        <div class="product">
          <img class="img-product" src="http://localhost:1235/sp3.jpg" alt="sp1">
          <div class="description">
            <span class="title-product">Nike Air Force 1</span>
            <span class="size"> <span>Size : </span>43</span>
            <span class="price">4000000<span>.VND</span></span>
          </div>
        </div>
        <div class="product">
          <img class="img-product" src="http://localhost:1235/sp3.jpg" alt="sp1">
          <div class="description">
            <span class="title-product">Nike Air Force 1</span>
            <span class="size"> <span>Size : </span>43</span>
            <span class="price">4000000<span>.VND</span></span>
          </div>
        </div>
        <div class="product">
          <img class="img-product" src="http://localhost:1235/sp3.jpg" alt="sp1">
          <div class="description">
            <span class="title-product">Nike Air Force 1</span>
            <span class="size"> <span>Size : </span>43</span>
            <span class="price">4000000<span>.VND</span></span>
          </div>
        </div>
        <div class="product">
          <img class="img-product" src="http://localhost:1235/sp3.jpg" alt="sp1">
          <div class="description">
            <span class="title-product">Nike Air Force 1</span>
            <span class="size"> <span>Size : </span>43</span>
            <span class="price">4000000<span>.VND</span></span>
          </div>
        </div>
        <div class="product">
          <img class="img-product" src="http://localhost:1235/sp3.jpg" alt="sp1">
          <div class="description">
            <span class="title-product">Nike Air Force 1</span>
            <span class="size"> <span>Size : </span>43</span>
            <span class="price">4000000<span>.VND</span></span>
          </div>
        </div>
        <div class="product">
          <img class="img-product" src="http://localhost:1235/sp3.jpg" alt="sp1">
          <div class="description">
            <span class="title-product">Nike Air Force 1</span>
            <span class="size"> <span>Size : </span>43</span>
            <span class="price">4000000<span>.VND</span></span>
          </div>
        </div>
        <div class="product">
          <img class="img-product" src="http://localhost:1235/sp3.jpg" alt="sp1">
          <div class="description">
            <span class="title-product">Nike Air Force 1</span>
            <span class="size"> <span>Size : </span>43</span>
            <span class="price">4000000<span>.VND</span></span>
          </div>
        </div>

      </div>

    </div>
    <div class=""></div>
  </div>
  <div class="footer">
    <div class="content-footer">
      <ul class="information">
        <li class="item-info"><i class="fa-solid fa-location-dot"></i>: Phan Đăng Lưu - Kiến An - Hải Phòng</li>
        <li class="item-info"><i class="fa-solid fa-phone"></i>: 0334455667</li>
        <li class="item-info"><i class="fa-solid fa-envelope"></i>: shoestorepdl@gmail.com </li>
        <li class="item-info"></li>
        <li class="item-info"></li>
      </ul>
      <div class="qr-footer">
        <img src="http://localhost:1235/QR.png" alt="" class="qr-footer-img">
      </div>
    </div>
    <div class="line"></div>
    <div class="contact">
      <span class="license">© 2022 ShoeStore. Tất cả các quyền được bảo lưu.</span>
      <ul class="social">
        <li class="item-social"><i class="fa-brands fa-facebook"></i></li>
        <li class="item-social"><i class="fa-brands fa-instagram"></i></li>
        <li class="item-social"><i class="fa-solid fa-envelope"></i></li>
        <li class="item-social"><i class="fa-brands fa-linkedin-in"></i></li>
      </ul>
    </div>
  </div>
</div>
